#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: #fff;
  font-family: sans-serif;
}

.days, .hours, .minutes, .seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #333;
  color: #fff;
  font-size: 36px;
}
